@{
    ViewData["Title"] = "Product - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GummiBearKingdom.Models.Product
    
<div id="form-holder">
    <h2 id="page-header">Create</h2>
    <h4>Add a new product</h4>
    @using (Html.BeginForm())
    {
        <label>Product Name:</label>
        @Html.TextBoxFor(model => model.product_name)
        <label>Product Cost:</label>
        @Html.TextBoxFor(model => model.cost)
        <label>Product Country:</label>
        @Html.TextBoxFor(model => model.country)
        <input class="btn-primary" type="submit" value="Add new task" />
    }
    <a class="btn btn-default" href="/Product">Back to List</a>
</div>
