@model IEnumerable<GummiBearKingdom.Models.Product>

<html>
<head>
    <title>Gummi Bear Kingdom</title>
</head>
<body>
    <h2>To Do List</h2>
    <h4>Products:</h4>
    <ul>
        @foreach (var listItem in Model)
        {
            <li>@Html.DisplayFor(modelItem => listItem.product_name) | @Html.ActionLink("Details", "Details", new { id = listItem.id }) </li>
        }
    </ul>

    <p>@Html.ActionLink("Add new product", "Create")</p>
</body>
</html>