@import url('https://fonts.googleapis.com/css?family=Delius+Unicase:700');

#banner-holder {
    background-image: url("../img/gummy-bears.jpg");
    height: 50vh;
    background-repeat: no-repeat;
}

#banner-title {
    position: relative;
    left: 33%;
    top: 85%;
    color: white;
    font-size: 50px;
    font-family: 'Delius Unicase', cursive;
}

#master {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}

#container {
    margin-top: -20px;
    background-color: #A69AFC;
    width: 100%;
    height: 100vh;
}