@import url('https://fonts.googleapis.com/css?family=Delius+Unicase:700');
@import url('https://fonts.googleapis.com/css?family=Baloo');

#banner-holder {
    background-image: url("../img/gummy-bears.jpg");
    height: 35vh;
    background-repeat: no-repeat;
}

#banner-title {
    position: relative;
    left: 33%;
    top: 85%;
    color: white;
    font-size: 50px;
    font-family: 'Delius Unicase', cursive;
}

#master {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}

#container {
    margin-top: -20px;
    background-color: #A69AFC;
    width: 100%;
    height: 100vh;
}

#splash {
    text-align: center;
}

.navbar-header {
    text-align: center;
}

.navbar {
    background-color: #8EEFFF;
}

.nav-tabs {
    background-color: #8EEFFF;
    border-width: 5px;
    border-color: #19A4BC;
}

#product-holder {
    padding-top: 10vh;
    width: 40vw;
    position: fixed;
    left: 40vw;
}

.product{
    padding-top: 45px;
    padding-left: 10px;
    width: 100%;
    height: 10vh;
    border: solid;
    border-color: white;
    border-width: 6px;
    border-radius: 5px;
    font-family: 'Baloo', cursive;
    font-size: 25px;
}

li {
    list-style-type: none;
}

#page-header {
    font-size: 40px;
    font-family: 'Delius Unicase', cursive;
}

#form-holder {
    padding-top: 45px;
    padding-left: 10px;
    width: 100%;
    height: 10vh;
}